
Assets/Imported Assets/Real Stars Skybox/StarSkybox04/CubemapStars.cubemap
Assets/Imported Assets/Real Stars Skybox/StarSkybox04Named/CubemapStarsNamed.cubemap
Assets/Imported Assets/Real Stars Skybox/StarSkybox04NamedConstell/CubemapStarsNamedConstellations.cubemap

/[Tt]emp/
